# Лабораторная работа 2

 Выполнил Илья Попов
uses crt;
var x,y,z:integer;
BEGIN
 
         write('Введите первое число x :');
         readln(x);
         write('Введите второе число y :');
         readln(y);
         write('Введите третье число z :');
         readln(z);
    
         writeln;
    
         if x < 0 then writeln('x = ',x:3) else writeln('x = ',sqr(x));
         if y < 0 then writeln('y = ',y:3) else writeln('y = ',sqr(y));
         if z < 0 then writeln('z = ',z:3) else writeln('z = ',sqr(z));
         
END.


